.level-bar__burger-button__wrapper {
  display: none;
  @include position(absolute, 0, 0, auto, auto);

  @include w_1240 {
    display: block;
    z-index: 6;
  }

  @include w_865 {
    display: none;
  }

  .level-bar__burger-button {
    padding: 5px 60px;
    @include text-style($font-main-heading, $font-size-header, $color-text);
    background-color: $color-background-secondary;
    border-radius: 0 0 0 20px;
    border: none;
    box-shadow: 0 5px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }

  .level-bar__burger-button:hover {
    background-color: $color-background-alt-secondary;
  }

  .level-bar__burger-button.active {

    @include w_1240 {
      padding: 19px 115px 6px 20px;
      background-color: $color-background-alt-secondary;
      box-shadow: none;
      animation: blinkingBurger 1s;
      animation-iteration-count: infinite;
    }
  
  }
}

@keyframes blinkingBurger {
  from {background-color: $color-background-alt-secondary;}
  to {background-color: $color-background-secondary;}
}

.level-bar {
  @include position(fixed, 0, 0, auto, auto);
  padding: 0 0 20px 20px;
  @include width-height(20%, 100%);
  background-color: $color-background-secondary;
  border-left: 2px solid $color-border;

  @include w_1240 {
    display: none;
    width: 22%;
  }
  @include w_1185 {width: 24%;}
  @include w_1080 {width: 26%;}
  @include w_1000 {width: 28%;}
  @include w_925 {width: 30%;}
  @include w_865 {width: 32%;}
  @include w_810 {width: 34%;}
  @include w_765 {width: 36%;}
  @include w_720 {width: 38%;}
  @include w_685 {width: 40%;}
  @include w_650 {width: 42%;}
  @include w_620 {width: 44%;}
  @include w_590 {width: 46%;}
  @include w_565 {width: 48%;}
  @include w_540 {width: 50%;}
  @include w_520 {width: 52%;}

  &__wrapper {
    padding-top: 20px;
    height: 100%;
    overflow-y: scroll;
  }

  &__second-wrapper {
    padding-right: 20px;
  }

  &__title-wrapper {
    @include flex(flex);
    margin-bottom: 7px;

    .level-bar__title {
      @include text-style($font-main-heading, $font-size-header, $color-text);
    }
  
    .level-bar__description-button {
      @include padding-margin(2px, 0 20px 0 0);
      @include width-height(31px, 31px);
      fill: $color-text;
      background-color: $color-background-secondary;
      @include border(none, 50%);
      cursor: pointer;
    }
    .level-bar__description-button:hover {
      background-color: $color-background-accent-primary;
      fill: $color-border;
    }
    .level-bar__description-button.active,
    .level-bar__description-button:active {
      background-color: $color-background-accent-secondary;
      fill: $color-text;
    }
  }

  .window-description {
    height: 0;
    border-top: 1px solid $color-border;
    border-bottom: 1px solid $color-border;
    transition: 1s all;

    &__wrapper {
      display: none;
    }

    &__title {
      @include text-style($font-primary-bold, $font-size-medium, $color-text);
    }

    &__hint {
      display: inline-block;
      @include padding-margin(0 7px, 0 0 3px 0);
      background-color: $color-background-alt-secondary;
      @include text-style($font-primary-bold, $font-size-medium, $color-text-accent);
    }

    &__description {
      @include text-style($font-primary-regular, $font-size-small, $color-text);

      .high {
        display: inline-block;
        padding: 0 3px;
        @include text-style($font-primary-bold, $font-size-small, $color-text-accent);
        background-color: $color-background-alt-secondary;
      }
    }

    &__wrapper.active {
      display: block;
    }
  }

  .window-description.active {
    height: auto;
    padding: 7px 0;
  }

  .level-bar__list {
    margin: 7px 0 15px;
    list-style: none;
    @include text-style($font-primary-bold, $font-size-medium, $color-text);
  
    .level {
      @include flex(flex, auto, center);
      @include padding-margin(3px 5px, 2px); 
      cursor: no-drop;
      transition: all 0.3s;
  
      &__icon-paws {
        @include width-height(20px, 20px);
        margin-right: 10px;
        display: inline-block;
        fill: #7e7f71;
      }

      &-name {
        @include text-style($font-primary-regular, $font-size-medium, $color-text)
      }
    }

    .level.active .level__icon-paws {
      fill: $color-text-accent-secondary;
    }

    .level.active:hover {
      background-color: $color-background-alt-secondary;
      cursor: pointer;

      .level__icon-paws {
        fill: $color-background-alt;
      }

      .level__num {
        color: $color-text-accent;
      }

      .level-name {
        color: $color-text-accent;
      }
    }

    .level.hint {
      .level__icon-paws {
        fill: $color-text-hint;
      }
    }

    .level.current {
      background-color: $color-background;
      
      .level__icon-paws {
        fill: $color-text;
      }

      .level__num {
        color: $color-text;
      }
    }
  }

  .reset-button {
    margin-bottom: 50px;
    @include button($color-background-accent-primary);
  }
  
  .reset-button:hover {
    @include button-hover($color-background, $color-text-accent);
  }
  
  .reset-button:active {
    @include button-active($color-background-accent-secondary, $color-text-alt);
  }
}

.level-bar.active {

  @include w_1240 {
    display: block;
    z-index: 5;
  }

  .level-bar__title.off {

    @include w_1240 {
      display: none;
    }
  
  }
}

