.level-bar {
  @include absolute(absolute, 0, 0, 0, auto);
  padding: 20px;
  width: 20%;
  background-color: $color-background-secondary;
  border-left: 2px solid $color-border;

  .level-bar__wrapper {
    @include flex(flex);
    margin-bottom: 7px;

    .level-bar__title {
      @include text-style($font-main-heading, $font-size-header, $color-text);
    }
  
    .level-bar__description-button {
      margin-right: 20px;
      padding: 2px;
      @include width-height(31px, 31px);
      fill: $color-text;
      background-color: $color-background-secondary;
      @include border(none, 50%);
      cursor: pointer;
    }
    .level-bar__description-button:hover {
      background-color: $color-background-accent-primary;
      fill: $color-border;
    }
    .level-bar__description-button.active,
    .level-bar__description-button:active {
      background-color: $color-background-accent-secondary;
      fill: $color-text;
    }
  }

  .window-description {
    height: 0;
    border-top: 1px solid $color-border;
    border-bottom: 1px solid $color-border;
    transition: 1s all;

    .window-description__wrapper {
      display: none;

      .window-description__title {
        @include text-style($font-primary-bold, $font-size-medium, $color-text);
      }

      .window-description__hint {
        display: inline-block;
        @include padding-margin(0 7px, 0 0 3px 0);
        background-color: $color-background-alt-secondary;
        @include text-style($font-primary-bold, $font-size-medium, $color-text-accent);
      }
  
      .window-description__description {
        @include text-style($font-primary-regular, $font-size-small, $color-text);
  
        .high {
          display: inline-block;
          padding: 0 3px;
          @include text-style($font-primary-bold, $font-size-small, $color-text-accent);
          background-color: $color-background-alt-secondary;
        }
      }
    }

    .window-description__wrapper.active {
      display: block;
    }
  }

  .window-description.active {
    height: auto;
    padding: 7px 0;
  }

  .level-bar__list {
    margin: 7px 0 15px;
    list-style: none;
    @include text-style($font-primary-bold, $font-size-medium, $color-text);
  
    .level {
      @include flex(flex, auto, center);
      @include padding-margin(3px 5px, 2px); 
      cursor: no-drop;
      transition: all 0.3s;
  
      .level__icon-paws {
        @include width-height(20px, 20px);
        margin-right: 10px;
        display: inline-block;
        fill: #7e7f71;
      }
    }

    .level.active .level__icon-paws {
      fill: $color-text-accent-secondary;
    }

    .level.active:hover {
      background-color: $color-background-alt-secondary;
      cursor: pointer;

      .level__icon-paws {
        fill: $color-background-alt;
      }

      .level__num {
        color: $color-text-accent;
      }
    }

    .level.hint {
      .level__icon-paws {
        fill: $color-text-hint;
      }
    }

    .level.current {
      background-color: $color-background;
      
      .level__icon-paws {
        fill: $color-text;
      }

      .level__num {
        color: $color-text;
      }
    }
  }

  .reset-button {
    @include button($color-background-accent-primary);
  }
  
  .reset-button:hover {
    @include button-hover($color-background, $color-text-accent);
  }
  
  .reset-button:active {
    @include button-active($color-background-accent-secondary, $color-text-alt);
  }
}