.game-room__wrapper {
  @include flex(flex, center, center);
}

.css-room__obj {
  display: inline-block;
  position: relative;
}

.racoon--small,
.gray-cat--small,
.white-cat--small {
  @include width-height(60px, 60px);
  z-index: 1;

  @include w_1000 {@include width-height(50px, 50px);}
  @include w_865 {@include width-height(40px, 40px);}
  @include w_765 {@include width-height(30px, 30px);}
  @include w_650 {@include width-height(25px, 25px);}
  @include w_540 {@include width-height(22px, 22px);}
}

.racoon--fancy,
.gray-cat--fancy,
.racoon,
.gray-cat,
.white-cat {
  @include width-height(100px, 100px);
  margin: 5px;
  z-index: 1;

  @include w_1000 {@include width-height(80px, 80px);}
  @include w_865 {@include width-height(65px, 65px);}
  @include w_765 {@include width-height(50px, 50px);}
  @include w_650 {@include width-height(35px, 35px);}
  @include w_540 {@include width-height(33px, 33px);}
}

.carpet--red,
.armchair,
.carpet {
  @include flex(flex, center, center);
  @include width-height(180px, 180px);
  z-index: 0;

  @include w_1000 {@include width-height(160px, 160px);}
  @include w_865 {@include width-height(140px, 140px);}
  @include w_765 {@include width-height(120px, 120px);}
  @include w_650 {@include width-height(100px, 100px);}
  @include w_540 {@include width-height(80px, 80px);}
}

$animals: (
  racoon--small: "racoon--small.png",
  gray-cat--small: "gray-cat--small.png",
  white-cat--small: "white-cat--small.png",
  racoon: "racoon.png",
  racoon--fancy: "racoon--fancy.png",
  gray-cat: "gray-cat.png",
  gray-cat--fancy: "gray-cat--fancy.png",
  white-cat: "white-cat.png",
);

$animals-active: (
  racoon--small: "racoon--small--active.png",
  gray-cat--small: "gray-cat--small--active.png",
  white-cat--small: "white-cat--small--active.png",
  racoon: "racoon--active.png",
  racoon--fancy: "racoon--fancy--active.png",
  gray-cat: "gray-cat--active.png",
  gray-cat--fancy: "gray-cat--fancy--active.png",
  white-cat: "white-cat--active.png",
);

$furnitures: (
  armchair: "armchair.png",
  carpet: "carpet.png",
  carpet--red: "carpet--red.png",
);

$furnitures-active: (
  armchair: "armchair--active.png",
  carpet: "carpet--active.png",
  carpet--red: "carpet--red--active.png",
);

@each $animal, $image in $animals {
  .#{$animal} {
    background: url("./assets/img/game-room/#{$image}");
    background-size: cover;
    background-position: center;
  }
}

@each $animal, $image in $animals-active {
  .#{$animal}.active {
    background: url("./assets/img/game-room/#{$image}");
    background-size: cover;
    background-position: center;
  }
}

@each $furniture, $image in $furnitures {
  .#{$furniture} {
    background: url("./assets/img/game-room/#{$image}");
    background-size: cover;
    background-position: center;
  }
}

@each $furniture, $image in $furnitures-active {
  .#{$furniture}.active {
    background: url("./assets/img/game-room/#{$image}");
  }
}

.animation {
  animation: transformation 1s ease-in;
  animation-iteration-count: infinite;
}

.animation.reflection {
  animation: transformation-reflection 1s ease-in;
  animation-iteration-count: infinite;
}

.reflection {
  transform: scale(-1, 1);
}

@keyframes transformation {
  10%, 50%, to {transform: skew(0, 0);}
  20% { transform: skew(1deg, 1deg); }
  80% { transform: skew(2.5deg, 2.5deg); }
}

@keyframes transformation-reflection {
  60%, 80%, to {transform: skew(0, 0) scale(-1, 1);}
  20% { transform: skew(1deg, 1deg) scale(-1, 1); }
  80% { transform: skew(2.5deg, 2.5deg) scale(-1, 1); }
}

.no-reflection.active::after,
.reflection.active::after {
  content: attr(data-title);
  max-width: 250px;
  padding: 8px 10px;
  white-space: nowrap;
  @include position(absolute, -15px, -60px, auto, auto);
  z-index: 2;
  background-color: $color-background-accent-primary;
  @include text-style($font-code-bold, $font-size-small, $color-text);
  @include border(2px solid $color-border, 5px);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}

.racoon--small.active::after,
.gray-cat--small.active::after,
.white-cat--small.active::after {
  top: -75px;
}

.racoon--fancy.active::after,
.gray-cat--fancy.active::after,
.racoon.active::after,
.gray-cat.active::after,
.white-cat.active::after {
  top: -40px;
}

.reflection.active::after {
  transform: scale(-1, 1);
}

.animation.fly {
  animation: fly 0.45s;
}

$loader-animals: (
  racoon--small: "racoon--small--active.png",
  gray-cat--small: "gray-cat--small--active.png",
  white-cat--small: "white-cat--small--active.png",
  racoon: "racoon--active.png",
  racoon--fancy: "racoon--fancy--active.png",
  gray-cat: "gray-cat--active.png",
  gray-cat--fancy: "gray-cat--fancy--active.png",
  white-cat: "white-cat--active.png",
);

$loader-furnitures: (
  armchair: "armchair--active.png",
  carpet: "carpet--active.png",
  carpet--red: "carpet--red--active.png",
);

.picture-loader {
  position: absolute;
  top: -6500px;
  right: -6500px;

  @each $animal, $image in $loader-animals {
    .#{$animal} {
      background-image: "./assets/img/game-room/#{$image}";
    }
  }

  @each $furniture, $image in $loader-furnitures {
    .#{$furniture} {
      background-image: "./assets/img/game-room/#{$image}";
    }
  }
}

.appearance {
  animation: appearance 0.5s;
}

@keyframes fly {
  from {transform: translateY(0);}
  to {transform: translateY(-500px);}
}

@keyframes appearance {
  from {opacity: 0;}
  50% {opacity: 0;}
  to {opacity: 1;}
}