$color-background: #fffde4;
$color-background-secondary: #b6b1e0;
$color-background-alt: #8784a0;
$color-background-alt-secondary: #e1e0ee;
$color-background-accent-primary: #fbf5ab;
$color-background-accent-secondary: #fffbc2;

$color-text: #6f5129;
$color-text-alt: #b6b1e0;
$color-text-accent: #8784a0;
$color-text-accent-secondary: #fbf5ab;

$color-border: #8784a0;
$color-border-alt: #fbf5ab;