@font-face {
  src: url("assets/fonts/EncodeSans-Regular.ttf");
  font-family: "Encode Sans Regular";
}

@font-face {
  src: url("assets/fonts/EncodeSans-Bold.ttf");
  font-family: "Encode Sans Bold";
}

@font-face {
  src: url("assets/fonts/Kablammo-Regular.ttf");
  font-family: "Kablammo";
}

@font-face {
  src: url('assets/fonts/Poppins-Regular.ttf');
  font-family: "Poppins Regular";
}

@font-face {
  src: url('assets/fonts/Poppins-Bold.ttf');
  font-family: "Poppins Bold";
}

$font-primary-regular: "Poppins Regular", sans-serif;
$font-primary-bold: "Poppins Bold", sans-serif;
$font-code: "Encode Sans Regular", sans-serif;
$font-code-bold: "Encode Sans Bold", sans-serif;
$font-main-heading: "Kablammo", cursive;

$font-size-small: 14px;
$font-size-medium: 16px;
$font-size-header: 24px;