.css-editor__display {
  @include flex(flex, space-between, baseline);
  align-content: flex-start;
  flex-wrap: wrap;
  width: 92%;
  padding: 4px 10px;
  background-color: $color-background-alt-secondary;

  @include w_650 {
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
  }

  &__input {
    padding: 2px;
    width: 80%;
    margin-right: 10px;
    @include text-style($font-code, $font-size-medium, $color-text);
    letter-spacing: 1px;
    background-color: $color-background-alt-secondary;
    @include border(none, 0);
    transition: all 1s;

    @include w_1000 {width: 70%;}
    @include w_720 {
      width: 65%;
      font-size: 14px;
    }
    @include w_650 {width: 100%;}
  }

  &__input.active {
    animation: blinking 1s;
    animation-iteration-count: infinite;
  }

  &__button {
    @include button($color-background-accent-secondary, $font-code, $font-size-small, $color-text, 2px 15px, 0, 1px solid $color-border, 0 4px 0 $color-border);

    @include w_650 {
      margin-top: 5px;
      width: 100%;
    }
  }

  &__button.active,
  &__button:active {
    @include button-active($color-background-alt-secondary, $color-text, 0 2px 0 $color-border, translateY(1px));
  }
  
  &__input:focus {
    outline: none;
  }

  &__wrapper {
    width: 100%;
    @include flex(flex, space-between, flex-start);

    @include w_650 {
      flex-direction: column-reverse;
    }
  }

  &__info {
    @include text-style($font-code, $font-size-small, $color-text-accent);
    line-height: 19.9px;
    letter-spacing: 1.5px;

    @include w_810 {
      font-size: 12px;
    }
    @include w_720 {
      font-size: 10px;
    }
  }

  &__button--help {
    width: 65.56px;
    margin-top: 10px;
    color: $color-text-accent;

    @include w_650 {
      margin-bottom: 4px;
      width: 100%;
    }
  }
}

@keyframes blinking {
  from {background-color: $color-background-alt-secondary;}
  to {background-color: $color-background-accent-secondary;}
}