* {
  @include padding-margin(0, 0);
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: $color-border $color-background-accent-primary;
}

/* Chrome, Edge и Safari */
*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: $color-background-secondary;
}

*::-webkit-scrollbar-thumb {
  background-color: $color-border;
  border-radius: 20px;
  border: 1px solid $color-background-accent-primary;
}

.play-page {
  @include position(fixed, 0, 0, 0, 0);
  @include flex(flex, space-between);
  background-color: $color-background;

  .game {
    padding: 15px 40px 0;
    @include width-height(72.45%, 100vh);
    overflow-y: scroll;
    scrollbar-color: $color-border $color-background;

    @include w_1240 {
      width: 100%;
    }

    @include w_865 {
      display: none;
    }

    &-banner {
      @include flex(flex, space-between, center);
      flex-direction: row-reverse;
      margin-bottom: 15px;
      background-color: $color-background-alt-secondary;
      border-radius: 15px;
      padding: 10px;

      &__logo {
        @include flex(flex, auto);
        margin-right: 10px;
      }

      &__icon {
        @include width-height(30px, 30px);
        margin-right: 10px;
      }

      &__title {
        @include text-style($font-main-heading, $font-size-header, $color-text);
      }

      &__rule {
        @include text-style($font-code-bold, $color-border, $color-text);
        margin-left: 15px;
        letter-spacing: 1px
      }
    }

    &-room {
      @include flex(flex, center, center);
      @include width-height(100%, 200px);
      margin-bottom: 20px;
      box-sizing: border-box;
      @include background(url('./assets/img/game-room/room-bg.png'));
      @include border(5px solid $color-border, 15px);

      @include w_765 {
        height: 150px;
      }
    }

    .code-wrapper {
      @include flex(flex, center);
      flex-wrap: wrap;

      .css-editor,
      .html-viewer {
        @include flex(flex);
      }
    }

    .code-wrapper.shake {
      animation: shake 0.2s;
    }

    .window-win {
      display: none;
      @include width-height(100%, 315px);
    }

    .window-win.win {
      @include flex(flex, center, center);
      flex-direction: column;
      text-align: center;
      @include background(url('./assets/img/win-bg.png'));
    }
  }

  .game::-webkit-scrollbar {
    background-color: $color-background;
  }

  .game::-webkit-scrollbar-track {
    background-color: $color-background;
  }
}

.mobile-warning {
  @include text-style($font-code-bold, $font-size-header, #fff);
  display: none;
  text-align: center;
  background-color: $color-background-alt;
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);

  @include w_865 {
    @include flex(flex, center, center);
    flex-direction: column;
  }

  &__content {
    max-width: 300px;
    margin: 10px 20px;
    letter-spacing: 1.5px;
    line-height: 1.5;
  }
}

@keyframes shake {
  from {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(5px);
  }
  to {
    transform: translateX(0);
  }
}
